* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Montserrat ;
    src: url(./assets/fonts/Montserrat.ttf);
}
@font-face {
    font-family: Danube ;
    src: url(./assets/fonts/Danube.ttf);
}

body{
    background-color: #EAEAEA;
    font-family: Montserrat;
}


/*header*/

header{
    background-color: white;
}
h1{
    font-family: Danube;
}
#header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}
.icones_container{
    width: 20px;
}
img{
    width: 100%;
    height: 100%;
}

ul{
    list-style: none;
    display: flex;
    gap: 20px;    
}
li{
    background-color: #4876EA;
    padding: 5px 10px;
    border-radius: 10px;
}
li a {
    text-decoration: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
ul :hover{
    background-color: #3454a3;
}

/*nav*/
nav a{
    text-decoration: none;
    color: black ;
    padding: 10px 5px;
    margin-left: 10px;
}
nav{
    display: flex;
    gap: 10px;
    padding: 10px 0px;
    border-top: #b4b4b4 1.5px solid;
    border-bottom: #b4b4b4 1.5px solid;
}
nav a:hover{
    background-color: #b4b4b4;
}

/*jumbotron*/
#jumbotron{
    background-image: url(./assets/images/jumbotron_image.jpg);
    height: 350px;
    background-position: center;
    background-size: cover;
}

/*section telephonie*/

h2{
    color: #4876EA;
    padding-bottom: 20px;
}
.offres{
    display: flex;
    max-width: 1600px;
    gap: 10px;
    margin-bottom: 30px;

}
.offre{
    background-color: white;
    width: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
    text-align: center;
	padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 3px 1px #b4b4b4;
    gap: 10px;
    
}
.texte_offres p:first-child{
    font-size: small;
}
.texte_offres p:nth-child(2){
    color: #4876EA;
    font-weight: bold;
}
.texte_offres p:nth-child(4){
    background-color:#b4b4b4;
    padding: 5px;
    border-radius: 50px;
    font-weight: bold;
    font-size: small;
}
.texte_offres p{
    padding-bottom: 10px;
}
.prix_offres p:first-child{
    font-size: large;
    font-weight: bold;
}
.prix_offres p:nth-child(2){
    color: rgb(77, 77, 77);
    font-weight:500;
    text-decoration:line-through;
}
.prix_offres{
    display: flex;
    justify-content: space-evenly;
}
.image_container{
    width: 150px;
}

#telephonie{
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*partie pourquoi*/

#pourquoi{
    background-color: white;
    padding: 30px 40px;
    text-align: center;
    margin-bottom: 50px;
}
.icones_container_pourquoi{
    width: 40px;
}
#contenu_pourquoi{
    display: flex;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: auto;
}
.element_pourquoi{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}